footer, header {
  background-color: #a4c4d2;
  font-family: 'Arizonia', cursive;
  font-family: 'Rye', cursive;
}
p1{
  color: gold;
}
h2{
  color: gold;
}
h{
  color: gold;
}
body, main{
  font-family: 'Zhi Mang Xing', cursive;
}
