footer, header {
  background-color: #13042d;
  font-family: 'Arizonia', cursive;
  font-family: 'Rye', cursive;
}
p1{
  color: white;
}
h2{
  color: white;
}
h{
  color: white;
}
body, main{
  font-family: 'Zhi Mang Xing', cursive;
}
